.Registreren-container { 
  font-size: 55px;
  height: 500px;
  width: 350px;
  position: absolute;
  bottom: 30px; 
  left: 560px;
  border-color:green; 
  border-radius:15px;
  border: 4px solid #333;      
  padding: 10px 20px;        
  display:inline-block;       
 
  background-color:white;
  z-index: 10;
}
.E-mail{
  position:absolute;
  bottom: 300px;
  left: 20px;
  font-size: 25px;
  border: 2px solid black ;
  border-radius: 5px;
}
.Wachtwoord{
  position:absolute;
  bottom: 200px;
  left: 20px;
  font-size: 25px;
  border: 2px solid black ;
  border-radius: 5px;
}
.Naam{
  position:absolute;
  bottom: 350px;
  left: 20px;
  font-size: 25px;
  border: 2px solid black ;
  border-radius: 5px;
}
.Telefoonnummer{
  position:absolute;
  bottom: 250px;
  left: 20px;
  font-size: 25px;
  border: 2px solid black ;
  border-radius: 5px;
}
.Registreren-btn{
  position:absolute;
  bottom: 150px;
  left: 20px;
  font-size: 25px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid black;
}
.Registreren-text {
  position: absolute;
  top: 30px;
  left: 60px;
  border-radius: 100px;
  z-index: 10;
  font-size: 40px; 
}
.Logo {
  position: absolute;
  bottom: 380px;
  left: 225px;
  height: 100px;
  width: 150px;
  z-index: 10;
}
.login-link {
  position: absolute;
  bottom: 125px;
  left: 587px;
  font-size: 16px;
  z-index:11;
}