div { 
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 400px; 
    left: 670px;
    border-color:green; 
    border-radius:100px;
  border: 2px solid #333;      
  padding: 10px 20px;          
  display:inline-block;       
  border-radius: 10px;          
  background-color: #f9f9f9;   
}