.Inloggen { 
  font-size: 55px;
  height: 500px;
  width: 350px;
  position: absolute;
  bottom: 30px; 
  left: 585px;
  border-color:green; 
  border-radius:15px;
  border: 4px solid #333;      
  padding: 10px 20px;        
  display:inline-block;       
 
  background-color:white;
  z-index: 10;
}
.E-mail{
  position:absolute;
  bottom: 300px;
  left: 20px;
  font-size: 25px;
  border: 2px solid black ;
  border-radius: 5px;
}
.Wachtwoord{
  position:absolute;
  bottom: 235px;
  left: 20px;
  font-size: 25px;
  border: 2px solid black ;
  border-radius: 5px;
}
.Login{
  position:absolute;
  bottom: 180px;
  left: 20px;
  font-size: 25px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid black;
}
.Login-text {
  position: relative;
  top: 35px;
  left: 30px;
  border-radius: 100px;
  z-index: 10;
  font-size: 40px;
}
.Logo {
  position: absolute;
  bottom: 380px;
  left: 185px;
  height: 100px;
  width: 150px;
  z-index: 10;
}
.registratie-link {
  position: absolute;
  bottom: 155px;
  left: 610px;
  font-size: 16px;
  z-index:11;
}